page-addplace {
  .image-box{
    height:200px;
    border:2px dashed #494949;
    text-align: center;
    border-radius:5px;
  }

  .camera-icon{
    font-size:15vh;
    margin-top:40px;
    color:#494949;
  }

  .text-select{
    margin-top:5px;
    color:#494949;
  }
}
